/* reset css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #dc143c !important;
}
ul, ol{
    list-style: none;
}

.container{
    width: 100%; /*tamanho largura*/
    height: 100vh;   /* tamanho da altura */
    /*arrumando imagem*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.bg-dark {
    background-color: #000;
}

.bg-image-1{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)),  /* filtro da imagem */
    url(../images/pexels-roland-dumke-943700.jpg);
}

.bg-image-2{
    background-image: url(../images/pexels-tim-mossholder-2331884.jpg);
}